node_modules/

__test__/
test/
coverage/
data/
examples/
docs/
.github/
*.tgz

*.log
*.lock
.vscode/
.idea/
.DS_Store
*.env
*.env.*

babel.config.js
jest.config.js
tsconfig.json
webpack.config.js
rollup.config.js
vite.config.js
tsconfig.ts
tsconfig.cjs.json
tsconfig.esm.json
vitest.config.js

src/

tmp/
temp/
*.swp

CONTRIBUTING.md
